<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FolderPath" value="" />
		<add key="OpenLastFile" value="true" />
		<add key="RecentBook0" value=""/>
		<add key="RecentBook1" value=""/>
		<add key="RecentBook2" value=""/>
		<add key="RecentBook3" value=""/>
		<add key="RecentBook4" value=""/>
		<add key="Categories" value=""/>
		<add key="PaymentMethods" value="現金"/>
		<add key="Categories" value="その他,食費,日用品,交通費"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>